<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140568035874-ck27mvksgq5tnugeuj2g5rkcpt3g88hf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140568035874-ck27mvksgq5tnugeuj2g5rkcpt3g88hf</string>
	<key>API_KEY</key>
	<string>AIzaSyC8dktrGmD3gzytnwYUjx-x2jRG8tvWwHw</string>
	<key>GCM_SENDER_ID</key>
	<string>140568035874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>es.agustincastanos.flashChatFlutter</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-276eb</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-276eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140568035874:ios:d796f63a4a31a5ba75c07b</string>
</dict>
</plist>